 # Kvantropologerne - Script 1

### 1. Datarens

**1.1 Import af pakker til python**

In [3]:
import pandas as pd # Til at strukturere datassæt i datarammer
import numpy as np # Til at foretage forskellige typer udregninger
import matplotlib.pyplot as plt # Til at lave visualiseringer af udregninger

**1.2 Import af csv-fil**

In [4]:
# Vi importerer csv-filen med twitter-data fra Twitter-brugerne uffeelbæk og alternativet_ 
#(Uffe Elbæk og Alternativet).
# Filen importeres i en dataframe, således at data struktureres i rækker og kolonner med variable. 

data_samlet = pd.read_csv('Elbaek_Uffe_2.0.csv', index_col=0) 

# Vi bruger index_col=0 til at gøre første kolonnne til index. Dato er nu index.

**1.3 Første fremstilling af dataframe i et udsnit med 4 rækker**

In [5]:
data_samlet.head(10)

# Metoden head betyder, at vi printer de øverste fem rækker i vores dataframe. Vi skriver 4 for at få 4 rækker. 
# Den øverste rækker viser de variable der er i vores datasæt

,username,to,replies,retweets,favorites,text,geo,mentions,hashtags,id,permalink
date,,,,,,,,,,,
2019-10-18 10:09:28,uffeelbaek,NaN,0,3,9,Nuanceret og grundig (og forholdsvis kort) gen...,NaN,NaN,#dkpolhttps,1185135803338575872,https://twitter.com/uffeelbaek/status/11851358...
2019-10-18 07:58:06,alternativet_,NaN,2,4,13,“Der bør signaleres tydeligt her og laves et g...,NaN,@rasmusnordqvist,#dkpol,1185102742836142080,https://twitter.com/alternativet_/status/11851...
2019-10-18 07:55:33,alternativet_,NaN,1,3,10,Stop ny oliejagt i Nordsøen. Det vil være dårl...,NaN,NaN,#dkpol #dkgreen,1185102101640351745,https://twitter.com/alternativet_/status/11851...
2019-10-17 20:13:06,uffeelbaek,FrejElbaek,0,0,12,"Kunne ikke have sagt det bedre selv, Frej. Kæm...",NaN,NaN,NaN,1184925321457524736,https://twitter.com/uffeelbaek/status/11849253...
2019-10-17 20:10:03,uffeelbaek,bille_nanna,2,0,1,"Det er ikke min oplevelse. Jeg ser unge, voksn...",NaN,NaN,NaN,1184924555435020289,https://twitter.com/uffeelbaek/status/11849245...
2019-10-17 19:57:54,uffeelbaek,marcus_stoltze,1,0,2,Det synes jeg ikke om. Og der er da også nogle...,NaN,NaN,NaN,1184921495987982337,https://twitter.com/uffeelbaek/status/11849214...
2019-10-17 19:48:49,uffeelbaek,marcus_stoltze,1,0,1,Den er jo netop ikke-voldelig Og som sagt har ...,NaN,NaN,NaN,1184919213124837382,https://twitter.com/uffeelbaek/status/11849192...
2019-10-17 19:30:48,uffeelbaek,NaN,0,6,21,Der er politisk dårlige nyheder nok lige nu. S...,NaN,NaN,NaN,1184914678755004416,https://twitter.com/uffeelbaek/status/11849146...
2019-10-17 19:24:50,uffeelbaek,Steffendus,0,0,0,Det så jeg godt.,NaN,NaN,NaN,1184913175000604674,https://twitter.com/uffeelbaek/status/11849131...
2019-10-17 19:21:28,uffeelbaek,ClausGrn,0,0,3,"Den grønne omstilling går alt, alt for langsom...",NaN,NaN,NaN,1184912329785462784,https://twitter.com/uffeelbaek/status/11849123...

**1.4 Vi fjerner replies**

In [6]:
# Vi fjerner alle de tweets, som er replies, dvs. henvendt til andre brugere på twitter. 
# Det skyldes, at vi kun ønsker at arbejde med tweets uden en specifik modtager. 

data_samlet = data_samlet.loc[~pd.notna(data_samlet.to)]

# "data_samlet.loc[~pd.notna(data_samlet.to)]" Vi udvælger kolonnen "to" i det samlede datasæt og fjerner tweets,
# som ikke er noteret som "NaN" (missing value). "NaN" indikerer at der ikke er en modtager, 
# og det dermed disse tweets, vi er interesserede i. 
# "data_samlet =" betyder, at vi definerer vores datasæt på ny uden replies

**1.5 Vi fjerner http i hashtags**

In [7]:
# Vi vil gerne have hashtags uden teksten "http" i vores kolonne med hashtags.  

data_samlet['hashtags']=data_samlet['hashtags'].str.replace('http','')

# "data_samlet['hashtags'].str.replace('http','')" Vi udvælger kolonnen "hashtags" i datasættet  og 
# erstatter "http", og det der kommer efter, i hashtags fra hashtag-kolonnen med'' dvs. ingenting.
# "data_samlet['hashtags']=" Vi gør dette for hele kolonnen.

**1.6 Adskillelse af hashtags i hashtag-kolonnen**

In [8]:
pd.Series(['#test#prøve','#test #prøve']).str.contains('[^ ]#')

# Vi vil gerne adskille de strings der er i kolonnen hashtags,sådan at kolonnen i stedet for at have en lang string af hashtags 
# har lister med hashtags.
# Vi ønsker at adskille de enkelte hashtags ved at dele i mellemrum. 
# Vi vil gerne se, om der altid er mellemrum mellem hashtags. 
# Derfor laver vi en test af en pd.series på test-hashtags.  
# "^" betyder "anything but", og vi vil gerne teste, om der i vores test-hashtags er mellemrum før "#".

0     True
1    False
dtype: bool

**1.6.1 Adskillelse af hashtags i hashtag-kolonnen**

In [9]:
# Vi vil lave en test på vores dataframe "data_samlet" for at se, om der eksisterer to hashtags, 
# som ikke er adskildt af mellemrum i hashtag-kolonnen.

data_samlet.dropna()[data_samlet.dropna()['hashtags'].str.contains('[^ ]#')]

# Vi anvender koden fra 1.6.½b
# Vi anvender desuden "dropna()" til at springe missing values (NaN) over

Empty DataFrame
Columns: [username, to, replies, retweets, favorites, text, geo, mentions, hashtags, id, permalink]
Index: []

**1.6.2 Adskillelse af hashtags i hashtag-kolonnen**

In [10]:
# Vi har fundet ud af, at der ikke var nogen steder, hvor hashtags ikke var delt af mellemrum. Det kan vi se fordi, 
# der ikke blev genereret tweets i outputtet fra 1.6.1. 
# Nu ved vi, at vi kan adskille strings med hashtags ved at dele ved mellemrum.

data_samlet['hashtags']=data_samlet['hashtags'].str.split(' ')

# Vi redefinerer hashtag-kolonnen, således at der i stedet for strings med flere hashtags, 
# er lister med hvert hashtag ud fra hvert tweet.

**1.7 Vi identificerer tweets med klimahashtags**

In [11]:
# Vi gennemgår de 100 mest brugte hashtags for både alternativet_ og uffeelbæk  og identificerer klima-hashtags.
# Scriptet er ikke opstillet helt kronologisk, og identifikation af klimahashtags foregik først efter, 
# vi havde opsplittet datasættet og lavet lister for hhv. uffeelbæk og alternativet_'s hashtags. 
# Se Script 2, Del 6.3 

klima_hashtags = ['#dkgreen', '#stemgrønnest', '#dkgreenpic', '#bæredygtighverdag', '#COP24', 
                  '#grønthåb', '#howdareyou', '#breakforclimate', '#grøntvalgpic', '#stemgrønnestpic', 
                  '#dknatur', '#grøntvalg', '#klimastrejk', '#grøngrønnerealternativet', '#bæredygtigtlandbrug', 
                  '#ExtinctionRebellion', '#ClimateCrisis', '#extinctionrebellionpic', '#C40Summit', '#dkoeko',
                  '#weloveøko', '#jordenkalder', '#gyllegate', '#vielskernaturen', '#StemGrønt', '#COP21', '#COP23',
                  '#huskklima', '#FridaysForFuture', '#cop21', '#dkoekopic', '#grøngrønnerealternativetpic']

# Vi laver listen "klima_hashtags" med de udvalgte hashtags.

**1.7.1 Vi identificerer tweets med klimahashtags**

In [12]:
# Vi definerer en funktion, der kan gå igennem hvert tweet og fortælle os, 
# om det indeholder et hashtag fra "klima_hashtags"

def er_klima_tweet (ht_ls) :
    try : 
        return [(ht in klima_hashtags) for ht in ht_ls]
    except :
        return np.nan
    
# Funktionen undersøger, om der er et klimahashtag fra "klima_hashtags" i andre lister med hashtags "ht_ls". 
# Hvis der er et klima-hashtag i den pågældende "ht_ls" returneres et True ellers Fals
# "except :return np.nan" gør, at i tweets, hvor der ikke er hashtags, 
# så returneres elementet "NaN", som betyder missing values

**1.7.2 Vi identificerer tweets med klimahashtags**

In [13]:
# Vi tester om vores funktion er_klima_tweet virker ved at teste en hashtag-liste + en anden test-hashtag-liste.
# Testlisten består af tre klima-tweets fra listen klima_hashtags og et hashtag, som ikke er på listen  

er_klima_tweet(['#dkgreen','#stemgrønnest', '#howdareyou','#test'])

[True, True, True, False]

**1.7.3 Vi identificerer tweets med klimahashtags**

In [14]:
# Af outputtet fra 1.7.2 kan vi se, at funktionen fungerer til at identificere klima-hashtags 
# fra liste klima_hashtags
# Vi anvender vores funktion 'er_klima_tweet' på vores dataframe "data_samlet" og lagrer outputtet i en ny kolonne
# Vi kalder den nye kolonne "klima_tweets_liste", den tilføjes til "dataframe data_samlet" 

data_samlet['klima_tweets_liste']=data_samlet['hashtags'].apply(er_klima_tweet)

# Da der ofte er anvendt mere end et hashtag i et tweet, 
# er der i den nye kolonne "klima_tweets_liste" ofte mere end en False/True per tweet.

**1.7.4 Vi identificerer tweets med klimahashtags**

In [15]:
# Vi laver en ny funktion, som i en ny kolonne genererer "True", 
# hvis der minimum ét 1 True i ved et tweet "klima_tweets_liste"

def et_klima_ht(ls) :
    try :
        for b in ls :
            if b :
                return b
        return False
    except :
        return np.nan
    
# Denne funktion hedder et_klima_ht og tester på lister "ls" om, 
# hvis der er værdier "b" i listen, som er True, så generes True. 
# Hvis der ikke er "True",så returneres værdien False. NaN forbliver NaN (missing values).

**1.7.5 Vi identificerer tweets med klimahashtags**

In [16]:
# Vi bruger den nye funktion 'et_klima_ht' på kolonnen "klima_tweets_liste"

data_samlet['et_klima_tweet']=data_samlet['klima_tweets_liste'].apply(et_klima_ht)

# Vi laver en ny kolonne "et_klima_tweet" i "data_samlet" hvor der står "True", hvis min ét klimahashtag er anvendt. 
# Dermed kategoriserer vi et tweet som et klimatweet, når der er står "True" i den nye kolonne.

**1.8 Vi opsplitter vores datasæt i Alternativet og Uffe Elbæk**

In [17]:
# Vi laver to datasæt ud fra kolonnen username og definerer datasættene "data_elbæk" og "data_alter"

data_elbæk = data_samlet.loc[data_samlet.username == 'uffeelbaek']
data_alter = data_samlet.loc[data_samlet.username == 'alternativet_']

# Med denne kode "data_samlet.loc[data_samlet.username == 'uffeelbaek" 
# udvælger vi rækkerne hvor "username" er "uffeelbaek". 
# Vi lagrer disse rækker i dataframe "data_elbæk". 
# Vi gør det samme med username "alternativet" i dataframe "data_alter"

### 2 Deskriptiv statistik på klima-tweets

**2.1 Vi importerer pakke**

In [18]:
#Vi importerer Counter  

from collections import Counter #Bruges til at tælle hvilke værdier forekommer hyppigst i en kolonne

**2.2 Vi udregner andelen af klima-tweets i det samlede datasæt, for Uffe Elbæk og for Alternativet**

In [19]:
counter_samlet = Counter(data_samlet['et_klima_tweet'])
# Vi udregner andelen af klimatweets i samlede antal tweets. 
# Vi definerer "counter_samlet" for det, vi vil optælle ved at
# bruge funktionen "Counter()" på kolonnen "et_klima_tweet", der angiver om et tweet indeholder et klima-hashtag

print(counter_samlet.most_common(3))
# Kolonnen "et_klima_tweet" har tre værdier "True", "False" og "NaN", 
# og ved at bruge funktionen "counter_samlet.most_common()"
# og angive 3 i parantesen, genereres hyppigheden og forekomsten for hver af tre værdier. 
# Dette kan vi gøre, fordi vi har defineret counter_samlet ovenfor.  

print(data_samlet['et_klima_tweet'].count())
# Vi tæller det samlede antal værdier i kolonnen et_klima_tweet. Dette er summen af tweets "False" og "True". 
# NaN medtages dermed ikke, og vi finder dermed udelukkende summen af tweets der har mindst ét hashtag. 

print(str(2726/9406*100)+'%')
#Vi udregner anddelen af klima-tweets af antallet af tweets der har hashtags

# Vi udregner nu andelen af klimatweets i Alternativets samlede antal tweets 
# på samme måde som ved det samlede antal tweets

counter_alter = Counter(data_alter['et_klima_tweet'])
print(counter_alter.most_common(3))
print(data_alter['et_klima_tweet'].count())
print(str(2540/6216*100)+'%')

# Vi udregner nu andelen af klimatweets i Uffe Elbæks samlede antal tweets på samme måde som ovenfor

counter_elbæk = Counter(data_elbæk['et_klima_tweet'])
print(counter_elbæk.most_common(3))
print(data_elbæk['et_klima_tweet'].count())
print(str(186/3187*100)+'%')

[(False, 6680), (True, 2726), (nan, 1598)]
9406
28.981501169466302%
[(False, 3679), (True, 2540), (nan, 612)]
6219
40.86229086229086%
[(False, 3001), (nan, 986), (True, 186)]
3187
5.836209601506118%

**2.3 Vi laver en chi2-test over username og et_klima_tweet**

In [20]:
from scipy import stats

#Vi importerer delpakken "stats" fra pakken "scipy". Dette gør det muligt for os at udføre vores chi2-test

crosstab=pd.crosstab(data_samlet['username'], data_samlet['et_klima_tweet'])

# Vi definerer den krydstabel,"crosstab" som vi ønsker at udføre vores chi2 test.
# Krydstabellen skal være over værdier i de to kolonner "username" og "et_klima_tweet"

stats.chi2_contingency(crosstab)

# Vi bruger funktionen fra delpakken "stats" til at udføre en chi2-test over vores krydstabel. 

# Den del af outputtet, som vi er interesserede i, er p-værdien. 
# P-værdien angiver sandsynligheden for, at en fordeling er tilfældig.
# Når p-værdien er under 0,05 betyder det at der er mere end 95% sandsynlighed for at fordelingen ikke er tilfældig.
# Dermed er der en statistisk sammenhæng mellem værdierne i kolonnerne (variablene) "username" og "et_klima_tweet". 
# P-værdien er den 2. værdi i ouputtet, nemlig værdien 1.9614776704053455e-274. 
# Denne værdi er langt under 0,05 og dermed er der statistisk signifikans for at fordelingerne ikke er tilfældige.

(1252.8828564444452,
 1.9614776704053455e-274,
 1,
 array([[4416.64044227, 1802.35955773],
        [2263.35955773,  923.64044227]]))

**2.3.1 Vi viser krydstabellen**

In [21]:
#Vi printer en krydstabel over username og et_klima_tweet 

crosstab

# Outputtet viser, andelen af klima-tweets ved brugeren uffeelbaek er mindre end ved alternativet_. 
# Uffe Elbæk laver dermed signifikant færre tweets med klima-hashtags end Alternativet. 
# Det kan vi også se i udregningerne fra 2.3 men nu er det også påvist at sammenhængen er statistisk signifikant

et_klima_tweet  False  True
username
alternativet_    3679   2540
uffeelbaek       3001    186

**2.4 Vi udfører en T-test for at teste sammenhængen mellem favorites og klima-hashtags for alternativet**

In [22]:
from scipy.stats import ttest_ind

# Vi importerer delpakken ttest_ind fra scipy.stats

ikke_klima = data_alter[data_alter['et_klima_tweet']== True]
klima = data_alter[data_alter['et_klima_tweet']== False]

# Vi vil finde ud af om der er statistisk sammenhæng mellem andelen af likes (favorites), 
# på tweets med klima-hashtags og tweets med ikke-klima-hashtags. 
# Dette gøre vi ved at sammenligne det gennemsnitlige antal favorites for hver af de to typer tweets med en T-test.
# Vi definerer først de to kategorier "klima" og "ikke_klima".
# Vi udvælger de tweets i kolonnen "et_klima_tweet" som er hhv. "True" og "False" for hver kategori. 


ttest_ind(ikke_klima['favorites'], klima['favorites'])

# Vi udfører t-testen ved at indsætte de to katorier og skrive "Favorites", 
# som er det vi vil teste sammenhængen mellem. 

# I outputtet kigger vi på p-værdien, "pvalue= 2.9082464391360798e-08". 
# Da denne værdi er langt under 0,95 betyder det, at der er signifikant sammenhæng mellem anddelen af likes og 
# hvorvidt der indgår klima-hashtags i et tweet. 
# Vi kan af dette output ikke se, hvordan sammenhængen er. 
# For at kunne det, er vi nødt til at kende middelværdierne for favorites.

Ttest_indResult(statistic=5.5539662183930085, pvalue=2.9082464391360798e-08)

**2.4.1 Vi finder middelværdierne for favorites på tweets med og uden klima-hashtags**

In [23]:
print(data_alter['favorites'].mean())

# Vi printer middelværdien med metoden "mean" over kolonnen "favorites" i subdatasættet "data_alter".
# Dette er det gennemsnitlige antal favorites for alle tweets 

data_alter['favorites'].groupby(data_alter['et_klima_tweet']).mean()

# Vi printer derefter middelværdien for tweets med og uden klima-hashtags. 
# Det gør vi ved at udvælge kolonnen "et_klima-tweet og bruge funktionen "groupby.()" og derefter "mean()". 
# På den måde finder vi gennemsnittet for begge grupper i kolonnen,
# Altså både tweets med klima-hashtags, "True" og tweets uden klima-hashtags "False"

# Det første tal i outputtet viser at Alternativets tweets gennemsnitligt får 21.1 favorites
# Derudover kan vi se, at tweets med klima-hashtags gennemsnitligt får mere 
# end 3 favorites mere end tweets uden klima-hashtags
# Vi ved fra T-testen at denne fordelingen ikke er tilfældig, men den er statistisk signifikant.

21.099546186502707

et_klima_tweet
False    20.250612
True     23.969291
Name: favorites, dtype: float64

**2.4.2 Vi udfører en T-test for at teste sammenhængen mellem favorites og klima-hashtags for Uffe Elbæk**

In [24]:
ikke_klima = data_elbæk[data_elbæk['et_klima_tweet']== True]
klima = data_elbæk[data_elbæk['et_klima_tweet']== False]

# Vi gør på samme måde som i 2.4.1


ttest_ind(ikke_klima['favorites'], klima['favorites'])

# Vi udfører t-testen ved at indsætte de to kategorier og skrive "Favorites", 
# som er det vi vil teste sammenhængen mellem. 

# I outputtet kigger vi på p-værdien, "pvalue=1.1711142009513769e-07". 
# Da denne værdi er langt under 0,95 betyder det, at der er signifikant sammenhæng mellem andelen af likes 
# og hvorvidt der indgår klima-hashtags i et tweet. 
# Vi kan af dette output ikke se, hvordan sammenhængen er. 
# For det er vi nødt til at kende middelværdierne for favorites.

Ttest_indResult(statistic=5.31005981950612, pvalue=1.1711142009513769e-07)

**2.4.3 Vi finder middelværdierne for favorites på tweets med og uden klima-hashtags for Uffe Elbæk**

In [25]:
print(data_elbæk['favorites'].mean())

# Vi gør det samme som ved 2.4.1

data_elbæk['favorites'].groupby(data_elbæk['et_klima_tweet']).mean()

# Det første tal i outputtet viser at alle Uffe Elbæks tweets (inkl. NaN) gennemsnitligt får 45.7 favorites. 
# Derudover kan vi se, at tweets med klima-hashtags gennemsnitligt får 70 favorites 
# mere end tweets uden klima-hashtags
# Vi ved fra T-testen at denne fordelingen af favorites ikke er tilfældig, men den er statistisk signifikant.

45.69446441409058

et_klima_tweet
False     47.741753
True     117.629032
Name: favorites, dtype: float64

**2.5 Fordeling af tweets med hashtags hos Alternativet**

In [26]:
data_alter.count()

# Ved at bruge metoden "count.()" på dataframen for Alternativet "alter" får vi et output med antallet af værdier 
# eksl. missing values (NaN) for hver kolonne.  
# I outputtet kan vi se, at der i den periode vi har tweets fra, er 6831 tweets i alt.
# Det kan vi se ud fra værdier i kolonnen "username"
# Vi kan også se, at der er 6219 tweets, der indeholder hashtags i kolonnen "hashtags".

username              6831
to                       0
replies               6831
retweets              6831
favorites             6831
text                  6831
geo                      0
mentions              3429
hashtags              6219
id                    6831
permalink             6831
klima_tweets_liste    6219
et_klima_tweet        6219
dtype: int64

**2.5.1 Fordeling af tweets med hashtags hos Alternativet**

In [27]:
6219/6831

# Vi udregner anddelen af tweets der indeholder hashtags med værdier fra forrige output. 

# Outputtet viser at Alternativete bruger hashtags i 91% af deres tweets.

0.9104084321475626

**2.6 Fordeling af tweets med hashtags hos Uffe Elbæk**

In [28]:
data_elbæk.count()

# Vi gør på samme måde som i 2.5 data om Uffe Elbæk

# Outputtet viser at Uffe Elbæk har lavet i alt 4173 tweets 
# Det viser osgå at 3187 af Uffe Elbæks Tweets har hashtags

username              4173
to                       0
replies               4173
retweets              4173
favorites             4173
text                  4173
geo                      0
mentions              2148
hashtags              3187
id                    4173
permalink             4173
klima_tweets_liste    3187
et_klima_tweet        3187
dtype: int64

**2.6.1 Fordeling af hashtags hos Uffe Elbæk**

In [29]:
3187/4187

# Vi udregner anddelen af tweets der indeholder hashtags med værdier fra forrige output. 

# Outputtet viser at Uffe Elbæk bruger hashtags i 76% af hans tweets.

0.7611655122999761